In [10]:
import re
import pandas as pd 
import numpy as np
from datetime import datetime

In [11]:
stocks_df = pd.read_csv('tesla_stock_data_2000_2025.csv')
stocks_df.head()

,Price,Close,High,Low,Open,Volume
0,Ticker,TSLA,TSLA,TSLA,TSLA,TSLA
1,Date,NaN,NaN,NaN,NaN,NaN
2,2010-06-29,1.5926669836044312,1.6666669845581055,1.1693329811096191,1.2666670083999634,281494500
3,2010-06-30,1.5886670351028442,2.0280001163482666,1.553333044052124,1.7193330526351929,257806500
4,2010-07-01,1.4639999866485596,1.7280000448226929,1.3513330221176147,1.6666669845581055,123282000

In [28]:
stocks_df = stocks_df.iloc[2:].copy()
stocks_df.columns = ['date', 'Close', 'High', 'Low', 'Open', 'Volume']

# Convert 'Date' column to datetime
stocks_df['date'] = pd.to_datetime(stocks_df['date'])

In [29]:
# Add Volume to the dataset
stocks_df = stocks_df[['date', 'Open', 'Close', 'Volume']].copy()

# Convert numeric columns
stocks_df[['Open', 'Close', 'Volume']] = stocks_df[['Open', 'Close', 'Volume']].apply(pd.to_numeric, errors='coerce')

# Calculate percent change
stocks_df['pct_change'] = ((stocks_df['Close'] - stocks_df['Open']) / stocks_df['Open']) * 100

stocks_df['date'] = pd.to_datetime(stocks_df['date'], format='%m/%d/%Y', errors='coerce')

# Preview
stocks_df.head()

        date       Open     Close               Volume  pct_change
4 2010-07-01 -12.160018  1.666667  1277942400000000000 -113.706123
5 2010-07-02 -16.521720  1.533333  1278028800000000000 -109.280710
6 2010-07-06 -19.449981  1.333333  1278374400000000000 -106.855189
7 2010-07-07  -3.658534  1.093333  1278460800000000000 -129.884455
8 2010-07-08   8.178444  1.076000  1278547200000000000  -86.843464

In [30]:
stocks_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3690 entries, 4 to 3693
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date        3690 non-null   datetime64[ns]
 1   Open        3690 non-null   float64
 2   Close       3690 non-null   float64
 3   Volume      3690 non-null   int64
 4   pct_change  3690 non-null   float64
dtypes: datetime64[ns](1), float64(3), int64(1)
memory usage: 144.3 KB

In [31]:
tweets = pd.read_csv('all_musk_tweets_sentiments.csv')
tweets.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7145 entries, 0 to 7144
Data columns (total 12 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   tweet_id               7145 non-null   int64
 1   tweet_body             7145 non-null   object
 2   retweet_count          7145 non-null   int64
 3   reply_count            7145 non-null   int64
 4   like_count             7145 non-null   int64
 5   quote_count            7145 non-null   float64
 6   view_count             6641 non-null   float64
 7   bookmark_count         7145 non-null   int64
 8   date                   7145 non-null   object
 9   clean_text             7031 non-null   object
 10  text_sentiment         7145 non-null   float64
 11  final_sentiment_score  7145 non-null   float64
dtypes: float64(4), int64(5), object(3)
memory usage: 670.0+ KB

In [32]:
tweets['date'] = pd.to_datetime(tweets['date'], errors='coerce')

In [33]:
tweets.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7145 entries, 0 to 7144
Data columns (total 12 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   tweet_id               7145 non-null   int64
 1   tweet_body             7145 non-null   object
 2   retweet_count          7145 non-null   int64
 3   reply_count            7145 non-null   int64
 4   like_count             7145 non-null   int64
 5   quote_count            7145 non-null   float64
 6   view_count             6641 non-null   float64
 7   bookmark_count         7145 non-null   int64
 8   date                   7145 non-null   datetime64[ns]
 9   clean_text             7031 non-null   object
 10  text_sentiment         7145 non-null   float64
 11  final_sentiment_score  7145 non-null   float64
dtypes: datetime64[ns](1), float64(4), int64(5), object(2)
memory usage: 670.0+ KB

In [34]:
tweets.head()

,tweet_id,tweet_body,retweet_count,reply_count,like_count,quote_count,view_count,bookmark_count,date,clean_text,text_sentiment,final_sentiment_score
0,1655978502187778073,Yup,3255,3747,39533,225.0,11392206.0,281,2023-05-09,yup,0.000,0.322584
1,1655968899903418373,Massive public manipulation,9811,2694,49528,534.0,14404853.0,1241,2023-05-09,massive public manipulation,-0.296,0.124120
2,1647339741610926080,💯,8257,4793,106036,376.0,18520248.0,366,2023-04-15,NaN,0.000,0.350723
3,1646228474628280326,🤣🤣,10198,5076,108462,430.0,16690340.0,340,2023-04-12,NaN,0.000,0.351881
4,1640171198091866114,Prescient,9193,5118,56272,572.0,25169601.0,3792,2023-03-27,prescient,0.000,0.335179

In [35]:
stocks_df.to_csv('stock_with_perc.csv', index = False)

In [41]:
stocks_and_tweets = pd.merge(tweets, stocks_df, on='date', how='inner')
stocks_and_tweets

,tweet_id,tweet_body,retweet_count,reply_count,like_count,quote_count,view_count,bookmark_count,date,clean_text,text_sentiment,final_sentiment_score,Open,Close,Volume,pct_change
0,1655978502187778073,Yup,3255,3747,39533,225.0,11392206.0,281,2023-05-09,yup,0.0000,0.322584,0.118376,168.949997,1683590400000000000,142622.685119
1,1655968899903418373,Massive public manipulation,9811,2694,49528,534.0,14404853.0,1241,2023-05-09,massive public manipulation,-0.2960,0.124120,0.118376,168.949997,1683590400000000000,142622.685119
2,1646228474628280326,🤣🤣,10198,5076,108462,430.0,16690340.0,340,2023-04-12,NaN,0.0000,0.351881,-5.347600,190.740005,1681257600000000000,-3666.833937
3,1640171198091866114,Prescient,9193,5118,56272,572.0,25169601.0,3792,2023-03-27,prescient,0.0000,0.335179,-1.342455,194.419998,1679875200000000000,-14582.424080
4,1742235895166652609,Congratulations Tesla team on a great year!!,5222,4154,67751,248.0,17889197.0,283,2024-01-02,congratulations tesla team on a great year,0.8402,0.925833,-0.663789,250.080002,1704153600000000000,-37774.620089
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4704,1854385260798287961,"Arizona just declared for @realDonaldTrump, ma...",105967,23038,682767,0.0,109748356.0,31048,2024-11-07,arizona just declared for making it a clean sw...,0.9485,1.072159,2.776139,288.890015,1730937600000000000,10306.178914
4705,1853614981624840695,Worth listening to this @JoeRogan episode befo...,34952,9741,199051,0.0,54241197.0,16294,2024-11-05,worth listening to this episode before end of ...,0.2263,0.530526,1.657640,247.339996,1730764800000000000,14821.215297
4706,1872464643266089067,Just a reminder that the algorithm is trying t...,8287,17140,79372,0.0,78495447.0,5487,2024-12-27,just a reminder that the algorithm is trying t...,0.3818,0.614054,-3.973124,449.519989,1735257600000000000,-11414.019387
4707,1869865296376303763,Yesterday’s bill vs today’s bill 😂 https://t.c...,34049,16611,435742,0.0,112315734.0,11067,2024-12-19,yesterdays bill vs todays bill,0.0000,0.392844,-3.476585,451.880005,1734566400000000000,-13097.813487
4708,1869414233483698402,How can this be called a “continuing resolutio...,27456,15154,96979,0.0,34153827.0,2477,2024-12-18,how can this be called a continuing resolution...,0.2263,0.513804,-5.652732,466.500000,1734480000000000000,-8352.646579

In [42]:
stocks_and_tweets.to_csv('full_merged_dataframes.csv')

In [43]:
final_df = stocks_and_tweets.copy()

In [44]:
final_df.drop(columns = ['tweet_body', 'retweet_count', 'reply_count', 'like_count', 'quote_count', 'view_count', 'bookmark_count', 'clean_text', 'Open', 'Volume'], axis = 1, inplace = True)
final_df

,tweet_id,date,text_sentiment,final_sentiment_score,Close,pct_change
0,1655978502187778073,2023-05-09,0.0000,0.322584,168.949997,142622.685119
1,1655968899903418373,2023-05-09,-0.2960,0.124120,168.949997,142622.685119
2,1646228474628280326,2023-04-12,0.0000,0.351881,190.740005,-3666.833937
3,1640171198091866114,2023-03-27,0.0000,0.335179,194.419998,-14582.424080
4,1742235895166652609,2024-01-02,0.8402,0.925833,250.080002,-37774.620089
...,...,...,...,...,...,...
4704,1854385260798287961,2024-11-07,0.9485,1.072159,288.890015,10306.178914
4705,1853614981624840695,2024-11-05,0.2263,0.530526,247.339996,14821.215297
4706,1872464643266089067,2024-12-27,0.3818,0.614054,449.519989,-11414.019387
4707,1869865296376303763,2024-12-19,0.0000,0.392844,451.880005,-13097.813487
4708,1869414233483698402,2024-12-18,0.2263,0.513804,466.500000,-8352.646579

In [46]:
num_duplicates = final_df.duplicated().sum()
print(num_duplicates)

0

In [47]:
final_df.to_csv('final_df.csv', index = False)